@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Welcome to Colin's garage</h1>
            <br /><br />
            <p class="display-6">This website is meant to track what vehicles I have owned.</p>
            <br /><br /><br /><br />
            <p class="display-6">Go to the "vehicles" tab to view a list of my vehicles.</p>
            <br /><br /><br /><br />
            <p class="display-6">Scroll down to see photos of my vehicles.</p>
        </div>
        <div class="col-sm-6">
            <img src="~/images/Yumi.jpg" alt="Yumi" />
            <img src="~/images/Yumi_2.jpg" alt="Yumi" />
            <img src="~/images/Yumi_3.jpg" alt="Yumi" />
            <img src="~/images/Peter.jpg" alt="Peter" />
            <img src="~/images/Peter_2.jpg" alt="Peter" />
            <img src="~/images/Tacoma.jpg" alt="Taco" />
            <img src="~/images/Tacoma_2.jpg" alt="Taco" />
            <img src="~/images/Civic.jpg" alt="Civic" />
            <img src="~/images/Civic_2.jpg" alt="Civic" />
        </div>
    </div>


</div>